<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    Esta es la manera de crear beans e inyectarlos, ya sea por constructor o por setter para los parametros    -->
<!--    <bean id="doctor" class="demo.Doctor">-->
<!--        <property name="qualification" value="MBBS"></property>-->
<!--        <property name="nurse" ref="nurse"></property>-->
<!--        <constructor-arg value="MMBS"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="nurse" class="demo.Nurse"/>-->

<!--    Con este linea le decimos Spring que busque los components que hemos creado en el paquete "demo"-->
    <context:component-scan base-package="demo"></context:component-scan>

</beans>